@{
    Layout = null;
}
<div ng-controller="AccesosController as showCase">
    <div>
        <button type="button" class="btn btn-primary" ng-click="OpenModal(null,1)">Crear</button>
    </div>
    <br />
    <datatable></datatable>
    <modal-mantenimiento></modal-mantenimiento>
</div>