<div class="modal fade" id="modal_actualizar_inf_corr">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width: 310px;margin-left: 336px;"">
            <div class="modal-header">
                <h6 class="modal-title" id="myModalLabel">Actualizar Informe-Correlativo</h6>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>

                </button>

            </div>
            <form id="sectionParametrosActualizarInfCorr" autocomplete="off">
                <div class="modal-body" style="padding-left: 57px;padding-right: 9px;/* height: 173px; */margin: -17px;">

                    <div class="form-group  col-md-5" style="display:none">
                        <div>
                            <input type="text" class="form-control" name="ID_INF_CORR" value="" id="txt_act_infcorr" style="display:none">
                        </div>

                    </div>

                    <div class="control-group">
                        <div class="form-group row" style="margin-bottom: 0px;">
                            <div class="form-group  col-md-11">
                                <h3 class="col-sm-10 col-form-label" style="margin-left: 34px;">Fecha Recepción  <i class="far fa-clock"></i></h3>
                                <div>
                                    <input name="FECHA_RECEPCION" class="form-control" id="selectActualizarfechaRecepcion" style="display:unset;width:92%;text-align: center;">
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button id="actualizar_inf_corr_btn" class="btn btn-info" type="submit">Guardar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>

    </div>
</div>
