
<div class="modal fade" id="idModalPOG">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width: 1511px;height: 791px;">

            <div class="modal-header">
                <h6 class="modal-title" id="tituloDialog" style="text-align:center;">Registrar Perfil Para Corredor</h6>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <br />

            <button class="btn btn-success btn-sm" style="width: 86px;margin-left: 1407px;">
                <a style="color: white;" href="" id="exportar" data-toggle="modal" onclick="exportarTabla();">Exportar</a>
            </button>


            <div class="modal-body">
                <div class="table-responsive"> 
                    <table class="text-center responsive-table" id="tbModalPOG" style="width:100%">
                        <thead>
                            <tr>
                                    <th rowspan="2">N°</th>

                                <th scope="col" rowspan="3" style="vertical-align:middle;">SERVICIO</th>
                                <th scope="col" colspan="2">FRANJA HORARIA</th>
                                <th scope="col" rowspan="2" style="vertical-align:middle;">CANTIDAD DE BUSES</th>
                                <th scope="col" colspan="2">VELOCIDAD</th>

                                <th scope="col" colspan="2">TIEMPO</th>
                                <th scope="col" rowspan=    "2" style="vertical-align:middle;">TIEMPO TOTAL</th>
                                <th scope="col" colspan="2">INTERVALO</th>
                                <th scope="col" colspan="2"> DISTANCIA  KILOMETRO</th>
                                <th scope="col" rowspan="2" style="vertical-align:middle;"> KM TOTAL</th>
                                <th scope="col" rowspan="2" style="vertical-align:middle;">VELOCIDAD OPERACIONAL</th>
                            </tr>
                            <tr>
                                <th class="text-center">HI</th>
                                <th class="text-center">HF</th>
                                <th class="text-center">N-S</th>
                                <th class="text-center">S-N</th>
                                <th class="text-center">N-S</th>
                                <th class="text-center">S-N</th>
                                <th class="text-center">CANTA N-S</th>
                                <th class="text-center">ALIPIO S-N</th>
                                <th class="text-center">N-S</th>
                                <th class="text-center">S-N</th>
                            </tr>
                        </thead>
                        <tbody id="tbbodyPOD">
                            
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>


