@{
    Layout = null;
}
<div class="row">
    <div class="col-md-6 mb-3">
        <label for="01">Nombre de la Empresa</label>
        <input type="text" class="form-control" id="01" ng-model="Objeto.EMPNOM">
    </div>
    <div class="col-md-6 mb-3">
        <label for="01">Pagina de la Empresa</label>
        <input type="text" class="form-control" id="01" ng-model="Objeto.EMPPAG">
    </div>
</div>